@import '../../util/mixin.less';

.tool-area {
    > ul {
        .flex();
    }

    height: 30px;
    line-height: 30px;

    background: #13b5b1;
    color: #fff;

    li {
        margin: 0 10px;
        cursor: pointer;

        &.active,
        &:hover {
            color: #ffeb3b;
        }
    }
}
