@import '../../util/mixin.less';

.inspector {
    font-size: 12px;

    .inspector-bar {
        .flex();
        background: #ececec;
        border-bottom: 1px solid #ccc;
        .user-select();
        line-height: 20px;

        > li {
            display: block;
            border-right: 1px solid #717171;
            padding: 0 10px;
            cursor: pointer;

            &.active,
            &:hover {
                background-color: #fff;
            }
        }
    }

    .inspector-content {
        background: #ecf6fb;
        height: 300px;
        overflow-y: auto;
    }

    > .req-inspector {

    }

    > .res-inspector {
        .inspector-bar {
            border-top: 1px solid #ccc;
        }

        .inspector-content {
            overflow-y: initial;

            > div,
            > ul {
                height: 100%;
            }
        }


        .res-inspector-image {
            width: 90%;
            padding: 15px;
            overflow-y: auto;

            img {
                display: block;
                max-width: 100%;
            }
        }

        .res-inspector-textview {
            position: relative;
            height: 100%;

            .res-inspector-textview-editor {
                position: absolute;
                right: 10px;
                top: 10px;
                .flex();

                > span {
                    display: block;
                    line-height: 18px;
                    background-color: #dadada;
                    cursor: pointer;
                    margin-left: 10px;

                    > i {
                        font-style: normal;
                        padding: 0 6px;
                    }

                    &:hover {
                        color: #458df1;
                    }
                }
            }

            > textarea {
                height: 100%;
                width: 100%;
                border: none;
                background: #ecf6fb;

                &.focus {
                    background: #fff;
                }
            }
        }

        .res-inspector-syntaxview {
            position: relative;

            .callback-name {
                color: #a00;
            }

            > div {
                height: 100%;
                overflow-y: auto;
            }

            .res-inspector-syntaxview-tip {
                // position: -webkit-sticky;
                // position: sticky;
                // display: block;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                height: 20px;
                line-height: 20px;
                font-size: 12px;
                cursor: pointer;
                text-align: center;
                background-color: #fbf9dd;
                box-shadow: 0 1px 2px #d2d2d2;
                &:hover {
                    background: #efeee4;
                }
            }
        }
    }
}

